h1 {
    text-align: center;
    margin: 15px;
}

.inputs-container{
    width: 70%;
    margin: auto;
}
.inputs-container input,
.inputs-container textarea,
.inputs-container button {
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    resize: vertical;
    overflow: auto;
}
.inputs-container button {
    background-color: rgb(255, 180, 40);
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 600; 
    resize: none;
}

.notes-container{
    width: 70%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.title-input, .desc-input {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.note {
    width: 250px;
    height: max-content;
    background: white;
    padding: 10px 15px;
    border-radius: 15px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.note .title{
    font-weight: 700;
}
.note .descrip {
    font-size: 14px;
}
.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.btn-container button {
    width: 49%;
    background-color: rgb(49, 113, 233);
    padding: 5px 16px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    border: none;
}