.container {
    width: 100%;
    margin: 50px auto;
    text-align: center;
}

.notes {
    width: 40%;
    /* height: 500px; */
    overflow: scroll;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.notes::-webkit-scrollbar {
  display: none;            /* Chrome, Edge, Safari */
}
.note {
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    background: rgb(56, 56, 56);
    color: white;
}
.btn {
    padding: 15px 50px;
    background: rgb(0, 119, 255);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 17px;
}