@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Bungee+Shade&family=Ewert&family=Funnel+Display:wght@300..800&family=Limelight&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pirata+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Racing+Sans+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tourney:ital,wght@0,100..900;1,100..900&family=UnifrakturMaguntia&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&family=Zen+Tokyo+Zoo&display=swap');

/* Montserrat, Zalando Sans Expanded, Funnel Display, Limelight, Tourney, Poppins, Bungee Outline, Bungee Shade, Zen Tokyo Zoo, UnifrakturMaguntia, Pirata One, Ewert, Racing Sans One, Montserrat Alternates, Roboto*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
   background: rgb(36, 36, 36);
   color: white;
   line-height: 1.6;
}